/* App.css */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000 30%, #000000bc);
  margin-bottom: 50px;
  overflow-x: hidden;
  height: calc(100vh - 240px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.visualization {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  width: 95%;
  /* background: linear-gradient(to bottom, #000000 30%, #000000); */
  border: 1px solid #fffdfd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bar {
  width: 10.5px;
  margin: 0 2px;
  transition: height 0.1s;
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(132, 132, 132, 0.2);
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ef1818 50%, #a80505);
  color: #fff;
  transition: background-color 0.2s;
  box-shadow: 0 2px 4px rgba(134, 134, 134, 0.2);
}

.controls button:hover {
  background: linear-gradient(to bottom, #691919 50%, #440606);
}

.controls label {
  margin: 0 10px;
  color: #c4e50d;
  font-size: 16px;
}

.controls select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls input[type="checkbox"] {
  margin-right: 5px;
}

.controls input[type='range'] {
  width: 200px;
  margin-right: 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #d63fe4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
